<div class="container">
<h1 class="title"> MENTIONS LÉGALES</h1>

<div class="paragraphe">
    <h2 class="para_title">Édition du site</h2>
    <p class="content"> Le site surveilance.fr est édité par l'association Surveillance, dont le siège social est situé 10 rue César Franck, 75015 Paris .</p>
</div>

<div class="paragraphe">
    <h2 class="para_title">Responsable de publication</h2>
    <p class="content"> Alicia Derradji</p>
</div>

<div class="paragraphe">
    <h2 class="para_title">Hébergeur</h2>
    <p class="content"> Le site Surveillance.fr est hébergé par la société Amazon Web Services LLC
        <br>
        Adresse: P.O. Box 81226, Seattle, WA 98108-1226
        <br>
        
        Le stockage des données personnelles des Utilisateurs est exclusivement réalisé sur les centre de données (« clusters ») localisés dans des Etats membres de l’Union Européenne de la société Amazon Web Services LLC</p>
</div>

<div class="paragraphe">
    <h2 class="para_title">Nous contacter</h2>
    <p class="content"> Par email: aliciaderradji@live.fr</p>
</div>

<div class="paragraphe">
    <h2 class="para_title">CNIL</h2>
    <p class="content"> La société LegalPlace conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture.
        <br>

        La société LegalPlace a fait l’objet d’une déclaration à la CNIL sous le numéro 1986932.
        <br>
        
        Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées par LegalPlace. Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante : support@legalplace.fr</p>
</div>

</div>


