<div class="container" div *ngIf="user$ | async as user">

<div class="title">
    <h1> Mon profil</h1>
</div>

<div class="infos-user">

<div class="info">
    <p> Mon pseudo : <span>{{user.username}}</span></p>
    <button class="update">Modifier</button>
</div>

<div class="info">
    <p> Mon e-mail : <span>{{user.email}}</span></p>
    <button class="update">Modifier</button>
</div>

<div class="info">
    <p> Mon mot de passe : <span>{{user.password}}</span></p>
    <button class="update">Modifier</button>
</div>
</div>

<button class="delete-account">Supprimer mon compte</button>



</div>