<div class="container">

    <div class=title-last-articles>
        <h1>Nos derniers articles </h1>
    </div>


    <div class="list-articles">

        <div class="container_list">
            <div class="picture"></div>
            <div class="content">
                <div class="title">Titre de l'article</div>
                <button class="read-article">
                    <p class="read-article-text"> Lire l'article</p>
                </button>
            </div>
        </div>

        <div class="container_list">
            <div class="picture"></div>
            <div class="content">
                <div class="title">Titre de l'article</div>
                <button class="read-article">
                    <p class="read-article-text"> Lire l'article</p>
                </button>
            </div>
        </div>
    

    <div class="container_list">
        <div class="picture"></div>
        <div class="content">
            <div class="title">Titre de l'article</div>
            <button class="read-article">
                <p class="read-article-text"> Lire l'article</p>
            </button>
        </div>
    </div>


</div>