
.container{
    width: 80%;
    height: auto;
    background-color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 10px;

}

h1{
    font-size: 1.2rem;
   color: black;
   text-align: center;
   padding-top: 25px;
   width: 100%;
   margin-top: 10px;


}

.title-last-articles{
    background: rgba(241, 184, 255, 1);
    padding-bottom: 10px;
}

.picture{
    width: 100%;
    height: 150px;
    background-color: grey;
}

.list-articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

button{
    background: white;
    text-decoration: inherit;
    margin-top: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.read-article{
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(#FE58ED, #5890FE);
}

.container_list{
    width: 80%;
    height: 300px;
    background: rgba(241, 184, 255, 1);
    margin: 30px;
    padding: 0px;
}



.title{
    margin: 10px;
    font-weight: 600;
}

.read-article-text{
    margin: 5px;
    color: rgba(88, 144, 254, 1);
    font-weight: 600;

}

//******** MEDIA QUERIES min 740px ******* 
@media (min-width: 740px){
    .container{
        width: 95%;
        background-color: white;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .list-articles{
        flex-direction: row;
        justify-content: space-around;
    }

    .title{
        font-size: 1rem;
    }

    .read-article-text{
        font-size: 0.8rem;
    }

}

//******** MEDIA QUERIES min 960px ******* 
@media (min-width: 960px){

    h1{
        font-size: 1.5rem;
    }
  .container{
      width: 80%;
  } 

  .title{
    font-size: 1.2rem;
}

.read-article-text{
    font-size: 1rem;
}
}
