img{
  height: auto;
  width: 50px;
}
  
form {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: rgba(241, 184, 255, 1);
  padding: 25px;
}

  input::placeholder,
  textarea::placeholder {
    color: white;
  }

.picture-mail{
  background-color: rgba(118, 20, 190, 0.76);
}

  h1{
    text-align: center;
  }

  
  form > input,
  form > textarea {
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #ccc;
    color: white;
    background-color: rgba(118, 20, 190, 0.76);;
    border-radius: 4px;
    display: block;
    width: 40vw;
  
  }

 
  form > input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
  }
  
  form > input[type="submit"]:hover {
    background-color: #FE58ED;
    color:white;
  }



//   @media (min-width: 768px){
    
//   }