
.navbar-responsive{
    padding: 0;
    .container-fluid{
        position: relative;
        height: inherit;
        background-color: #A144E0;
        #menu-mobile{
            height: 1.2rem;
            width: 1.7rem;
            background-color: transparent;
            border: none;
            position: relative;
            padding: 0;
            span{
                background-color: white;
                height: 0.2rem;
                width: 100%;
                position: absolute;
                left: 0;
                transition: all .3s linear;
                &:first-child{
                    top: 0;
                }
                &:nth-child(2){
                    top: 50%;
                    margin-top: -0.1rem;
                }
                &:last-child{
                    bottom: 0;
                }
            }
        }
        img{
            width: 7rem;
            margin: 10px;
        }
    }
    .menu{
        position: absolute;
        top: 13vh;
        left: -100vw;
        width: 100%;
        height: 100vh;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        transition: all ease-in-out 400ms;
        &-list{
            list-style: none;
            padding: 0;
            text-align: center;
            line-height: 3rem;
            width: inherit;
            &-item{
                width: 90%;
                border-bottom: 1px solid rgba(112, 112, 112, 0.8);
                margin: auto;
                &:last-child{
                    border: none;
                }
                a{
                    color: #707070;
                }
            }
        }
    }
    .btn-co{
        background: #A144E0;
        border: none;
        padding: 11px 46px;
        border-radius: 35px;
        color: white;
    }
}
.transition{
    margin-top: 30%;
    transform: rotate(135deg);
}
.transition2{
    transform: scale(0);
}
.transition3{
    margin-bottom: 30%;
    transform: rotate(-135deg);
}
.show{
    transform: translateX(100vw);
    background: white;
}

.navbar-desktop{
        display: none;
    }

    .navbar-responsive{
        display: flex;
    }


    
@media (min-width: 770px){

    .navbar-responsive{
        display: none;
    }

    .container{
        width: 100%;
        padding: 0;
    }
  

.navbar-desktop{
    display: flex;
    width: 100%;
    margin-right: 0;

    background-color: #A144E0 !important;
    padding : 0;
    flex-flow: nowrap;

    ul{
        display: flex;
        flex-direction: row;
         text-align: center;
    
    }

    li {
        border-radius: 20px;
        margin-right: 6px;
        padding: 2px;
        background-color: white;
        width: 110px;
        color: #A144E0; 
        font-size: 14px;
   }

   .nav-link{
    color:#A144E0 !important;
    font-weight: 500;
    padding: 5px;
}


.logo{
   width: 8rem;
   height: auto;
}
}
}



@media (min-width: 1024px){
    .navbar-desktop{
        li{
            font-size: 20px;
            width: 120px;

        }
    }

    .logo{
        width: 10rem;
    }
  
}










