button{
    width: 200px;
    height: 40px;
    background: rgba(241, 184, 255, 1);
    //#A144E0 !important;
}

.buttons{
    display: flex;
    justify-content: space-around;


}

.content{
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 15px;

}

.container{
    width: auto;
    height: 90%;
    background: rgba(241, 184, 255, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    // display: flex;
    align-items: center;
}

.article{
    display: flex;
    padding: 10px;
}

.picture{
    width: 40%;
    background-color: white;
}

.title{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}

.publication-date{
    font-weight: lighter;
    margin-bottom: 10px;
}

.author{
    display: flex;

}

.fa-user{
    margin-right: 10px;
    
}

button{
    background-color: white;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(#FE58ED, #5890FE);
}

.read-article{
    margin: 5px;
    color: rgba(88, 144, 254, 1);
    font-weight: 600;
}

.no-article {
    padding: 20px;
}




@media (min-width: 768px) and (max-width: 1024px){
    // .article{
    //     height: 250px;
    // }
}

@media (min-width: 1024px){
    // .article{
    //     height: 300px;
    // }
}