<!-- ****** RUBRIQUES DES ARTICLES ****** -->


<div class="container">


    <!-- MESSAGE QUAND IL N'Y A PAS DE PUBLICATIONS -->
    <!-- <div class="no-article" *ngIf="this.posts!==null">
        <p>Pas encore de publication</p>
    </div> -->




    <!--     <div class="buttons">
        <button class="focus"> FOCUS </button>
        <button class="news"> ACTUALITÉS</button>
        <button class="fight">LUTTER</button>
    </div> -->

    <!-- <div class="row" *ngFor="let post of posts | async"> -->


    <div *ngIf="posts$ | async as posts">
        <div class="no-article" *ngIf="posts.length == 0; else block">

            <p>Vous n'avez publié aucun article sur le blog !</p>
        </div>

        <ng-template #block>
   
                <div *ngFor="let post of posts">
                    <div class="article">
                    <div class="picture"></div>
                    <div class="content">
                        <div class="title"><a routerLink="/post/{{post.id}}">{{post?.title}}</a></div>
                        <div class="author"><i class="fas fa-user"></i>
                            <p> Auteur : {{post?.username}}</p>
                        </div>
                        <!-- <p class="post-content" [innerHTML]="post.content" ></p> -->
                        <button> <a class="read-article" type="button" routerLink="/post/{{post.id}}">Lire l'article</a></button>
                        <button> <a class="read-article" type="button" (click)="deletePost(post.id)">Supprimer</a></button>
                        <!-- <button> <a class="read-article" type="button" (click)="updatePost(post.id)">Modifier</a></button> -->
                        <button> <a class="read-article" type="button" routerLink="/update-post/{{post.id}}">Modifier</a></button>






                    </div>
                </div>
            </div>




        </ng-template>

    </div>
</div>
<!-- 

        <app-article></app-article>
        <app-article></app-article>
        <app-article></app-article>
     -->


<!-- </div> -->