h1 {
  //font-weight: 700px;;
  font-size: 30px;
  color: rgba(161, 68, 224, 1);
}

p{
  color: rgba(161, 68, 224, 1);
  font-size: 20px;;
  margin-bottom: 2px;
}

.container{
  margin-bottom: 50px;
}

.bn {
  text-decoration: underline
}

.bn:hover {
  cursor: pointer
}

.login-form {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  
  .myform {
    padding: 0 25px 0 33px;
}


  
.form-control {
  border: transparent;
  border-bottom: 1px solid rgba(161, 68, 224, 1);
  border-radius: 3px;
  background: white;
  margin-bottom: 20px;
  letter-spacing: 1px;
}


.form-control:focus {
  border: transparent;
  border-bottom: 3px solid rgba(161, 68, 224, 1);
  border-radius: 3px;
  box-shadow: none;
  background: rgba(161, 68, 224, 1);
  color: #fff;
  letter-spacing: 1px
}

label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .btn-primary {
    background: rgba(161, 68, 224, 1);
    border: none;
    border-radius: 50px;
    width: 100%;
}

.btn-primary:focus {
    box-shadow: none;
    border: none
}

span {
  color:rgba(161, 68, 224, 1);
  font-weight: 200px;
  font-size: 15px;
}

.account{
  text-align: center;
    color:rgba(161, 68, 224, 1);
    font-weight: 200px;
    font-size: 15px;
}

.nav-link{
  color:rgba(161, 68, 224, 1);
}



// @media(min-width: 767px) {
//   .bn {
//       text-align: right
//   }
// }

// @media(max-width: 767px) {

//   .bn {
//       text-align: center;
//       align-items: center
//   }
// }

// @media(max-width: 450px) {
//   .fab {
//       width: 100%;
//       height: 100%
//   }

//   .division .line {
//       width: 50%
//   }
// }body {
//   background-color: #19123B
// }

// .card {
//   border: none;
//   background: white;
// }