<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <div class="container">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-4">

          <!-- Content -->
          <h5 class="text-uppercase">SURVEILLANCE</h5>
          <p class="description">Surveillance est une association sensibiliant les citoyens aux dispositifs de surveillance mis en oeuvre par les acteurs privés et publics.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-2">

            <!-- Links -->
            <!-- <h5 class="text-uppercase">Links</h5> -->

            <ul class="list-unstyled">
              <li>
                <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="legal-mentions">Mentions légales</a>
              </li>
              <li>
                <a href="#!">Conditions générales d'utilisation</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 mb-md-0 mb-2">

            <!-- Links -->
            <!-- <h5 class="text-uppercase">Links</h5> -->

            <ul class="list-unstyled">
              <li>
                <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="contact">Nous contacter</a>
              </li>
              <li>
                <a href="#!">L'association</a>
              </li>
              <li>
                <a href="#!">Connexion</a>
              </li>
              <li>
                <a href="#!">Newsletter</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

           <!-- Grid column -->
           <div class="col-md-4 mb-md-0 mb-4 newsletter">

            <!-- Links -->

            <div>
              <img class="boxletter" src="../../../assets/boxletter.png" alt="boite aux lettres">
            </div>
            <div>
            <h5>Recevez nos dernières actualités directement dans votre boîte mail</h5>

            <ul class="list-unstyled">
              <li>
                <p>Votre mail ne sera utilisé que pour l'envoi de cette Newsletter</p>
              </li>
              <li>
                <div class="form-group"> 
                  <input type="email" id="floatingInput" class="form-control" placeholder="email"
                  name="email" ngModel required>
                  <button type="submit" class="btn-newsletter">OK</button>
                </div>
                  
                </li>
               
            </ul>
          </div>
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </div>

  </footer>
  <!-- Footer -->