<div class="add-post-content">
    <div class="container">
      <div>
        <h3 class="new-post-title">Modifier un article</h3>
      </div>
      <hr>

      <form [formGroup]="updatePostForm" (ngSubmit)="updatePost()">
        <div class="form-group">
          <label class="post-title">Titre</label>
          <input type="text" formControlName="title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
          <label class="post-content">Contenu</label>
          <editor formControlName="content" [init]="{plugins: 'link'}"></editor>
        </div>
        <div class="form-group form-btn">
          <button type="submit" class="btn btn-primary">Modifier</button>
        </div>
      </form >
    </div>
  </div>
  