h1{
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
    border: solid;
}


.container {
    margin: 20px;
    padding: 10px;
    background: rgba(241, 184, 255, 1);
    
}

.bin{
    background-color: black;
    margin: 2px;
    padding: 6px;
}
