/* You can add global styles to this file, and also import other style files */

/* CSS Global */

@import '~bootstrap/dist/css/bootstrap.min.css';


body, html{
    font-family: 'lora', arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(rgba(227, 9, 153, 1), rgba(118, 20, 190, 0.76));
    height: auto;
    width: 100%;
    
}

*{
    margin:0;
    padding: 0;
}

p{
    font-size: 16px;
}


