<div class="first-plan">
    <img src="./../../../assets/connected-technology.jpg">

    
        <div class="container-title">
            <h1 class="title">SURVEILLANCE : sensibilier et agir.</h1>
        </div>
        <div class=container-description>
            <p class="description">Surveillance est une association ayant pour objectif de sensibiliser les citoyens aux
                dispositifs de surveillance mise en oeuvre par les acteurs publics et privés.</p>
        </div>
   
    <button class="about-asso">
        <p class="about-asso-text"> En savoir plus</p>
    </button>

</div>

<div class=bloc>
    <div class="articles">
        <app-last-articles></app-last-articles>
    </div>

</div>